<div class="ct-widget-wrapper">
  <div class="ct-widget ct-widget-default">
    <h5>Recursos destacados</h5>
    <article>
      <h3><a href="/guias">Guías SEO y arquitectura editorial</a></h3>
      <p class="ct-feat-excerpt">Contenido actualizado para crecimiento orgánico sostenible.</p>
    </article>
    <article>
      <h3><a href="/herramientas">Herramientas prácticas</a></h3>
      <p class="ct-feat-excerpt">Utilidades para diagnósticos rápidos y acciones concretas.</p>
    </article>
    <article>
      <h3><a href="/laboratorio">Laboratorio</a></h3>
      <p class="ct-feat-excerpt">Experimentos y pruebas editoriales en evolución.</p>
    </article>
  </div>
</div>

<% const sidebarTopArticles = typeof topArticles !== 'undefined' ? topArticles : []; %>
<% if (sidebarTopArticles.length) { %>
<div class="ct-widget-wrapper">
  <div class="ct-widget ct-widget-default ct-widget-popular">
    <h5>Artículos más leídos</h5>
    <ol class="ct-popular-list">
      <% sidebarTopArticles.forEach(function(item) { %>
        <li>
          <a href="<%= item.path %>"><%= item.title %></a>
          <% if (item.views) { %><span><%= Number(item.views).toLocaleString('es-ES') %> visitas</span><% } %>
        </li>
      <% }) %>
    </ol>
  </div>
</div>
<% } %>

<% const sidebarTopRated = typeof topRatedArticles !== 'undefined' ? topRatedArticles : []; %>
<% if (sidebarTopRated.length) { %>
<div class="ct-widget-wrapper">
  <div class="ct-widget ct-widget-default ct-widget-rated">
    <h5>Artículos mejor valorados</h5>
    <ol class="ct-rated-list">
      <% sidebarTopRated.forEach(function(item) { %>
        <li>
          <a href="<%= item.path %>"><%= item.title %></a>
          <span><%= item.ratingValue.toFixed(1) %>/5 · <%= item.ratingCount %> <%= item.ratingCount === 1 ? 'voto' : 'votos' %></span>
        </li>
      <% }) %>
    </ol>
  </div>
</div>
<% } %>

<%- include('./friend-links.ejs', { friendLinks: typeof friendLinks !== 'undefined' ? friendLinks : [] }) %>
