<%
  const resolveArticleToneClass = function(articleMetadata) {
    const heroClass = String(articleMetadata && articleMetadata.heroClass ? articleMetadata.heroClass : '').toLowerCase();
    const themeColor = String(articleMetadata && articleMetadata.themeColor ? articleMetadata.themeColor : '').toLowerCase();
    const toneByHero = {
      'bg-purple': 'ct-purple',
      'bg-orange': 'ct-orange',
      'bg-blue': 'ct-blue',
      'bg-green': 'ct-green',
      'bg-red': 'ct-red',
      'bg-yellow': 'ct-yellow'
    };

    if (toneByHero[heroClass]) return toneByHero[heroClass];
    if (heroClass.indexOf('purple') !== -1) return 'ct-purple';
    if (heroClass.indexOf('orange') !== -1) return 'ct-orange';
    if (heroClass.indexOf('blue') !== -1) return 'ct-blue';
    if (heroClass.indexOf('green') !== -1) return 'ct-green';
    if (heroClass.indexOf('red') !== -1) return 'ct-red';
    if (heroClass.indexOf('yellow') !== -1) return 'ct-yellow';

    if (themeColor === '#64448f') return 'ct-purple';
    if (themeColor === '#e2674a') return 'ct-orange';
    if (themeColor === '#46a4da') return 'ct-blue';
    if (themeColor === '#58b391') return 'ct-green';
    if (themeColor === '#f06a6a') return 'ct-red';
    if (themeColor === '#d4bf4a') return 'ct-yellow';

    return 'ct-purple';
  };
  const articleToneClass = resolveArticleToneClass(metadata || {});
%>
<div class="ct-main ct-main-post" id="ct-main" role="main" data-article-tone="<%= articleToneClass %>">
  <div class="ct-post">
    <article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemscope itemtype="http://schema.org/Article">
      <header>
        <div class="ct-subline entry-meta">
          <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
              <img alt="" src="http://www.ayudaparamiweb.com/img/author/sucender.png" srcset="img/author/sucender.png" class="avatar avatar-36 photo" height="36" width="36">
              <meta itemprop="url" content="http://www.ayudaparamiweb.com/img/author/sucender.png">
              <meta itemprop="width" content="36">
              <meta itemprop="height" content="36">
            </div>
            <meta itemprop="name" content="<%= metadata.author %>">
          </div>

          <div class="ct-subline__author">
            <span class="byline author vcard" itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="/sucender" title="Posts by <%= metadata.author %>" rel="author" itemprop="name"><%= metadata.author %></a></span>
            in
            <a href="/articulos">Articulos</a>
          </div>

          <div class="ct-subline__time">
            <% const formatDate = function(dateString) {
              const [year, month, day] = String(dateString || '').split('-');
              return (day && month && year) ? `${day}/${month}/${year}` : dateString;
            }; %>
            <% if (metadata.modifiedDate) { %>
              Actualizado el
              <time class="ct-subline__pubtime" pubdate="pubdate" itemprop="dateModified" content="<%= metadata.modifiedDate %>"><%= formatDate(metadata.modifiedDate) %></time>
            <% } %>
            Publicado el
            <time class="ct-subline__pubtime" pubdate="pubdate" itemprop="datePublished" content="<%= metadata.publishedDate %>"><%= formatDate(metadata.publishedDate) %></time>
            <% if (metadata.ratingCount && metadata.ratingValue) { %>
              <strong><%= metadata.ratingCount %></strong> votos. Media: <strong><%= metadata.ratingValue %></strong> de 5
              <div style="display: none;" class="post-ratings" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <meta itemprop="bestRating" content="5">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="ratingValue" content="<%= metadata.ratingValue %>">
                <meta itemprop="ratingCount" content="<%= metadata.ratingCount %>">
              </div>
            <% } %>
          </div>
        </div>

        <h1 class="ct-h-shd entry-title" itemprop="headline"><%= metadata.title %></h1>
      </header>

      <div class="ct-post-content">
        <div class="ct-post-excerpt" itemprop="description"><%= metadata.description %></div>

        <div class="ct-post-featured-img" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <img src="<%= metadata.featuredImage %>" alt="<%= metadata.title %>">
          <meta itemprop="url" content="https://www.ayudaparamiweb.com<%= metadata.featuredImage %>">
          <meta itemprop="width" content="800">
          <meta itemprop="height" content="500">
        </div>

        <%- metadata.bodyHtml %>
      </div>
    </article>

    <% if ((metadata.tags || []).length) { %>
      <p class="ct-tags">Etiquetado en:
      <% metadata.tags.forEach(function(tag) { %>
        <a href="/" rel="tag"><%= tag %></a>
      <% }); %>
      </p>
    <% } %>
    <div class="clr"></div>
  </div>
  <div class="ct-row">
    <div class="ct-author-info ct-box <%= articleToneClass %>"><%- include('../authors/sucender-short.ejs') %></div>
  </div>
</div>
<aside class="ct-sidebar article-sidebar"><%- include('../partials/aside.ejs') %></aside>
